<!DOCTYPE html>
<html>
<head>
  <title>Listit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<%= link_to root_path do %>
		<h1>ListIt: The New Todo List and Notes Manager</h1>
	<% end %>
</header>
<div id="messages">
	<%= render 'layouts/flash_messages' %>
</div>

<%= yield %>

</body>
</html>
